{% load staticfiles %}
<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width, user-scalable-no, initial-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">

    <title>{% block Title %}Contabilidad{% endblock %}</title>
    
  </head>

  <body>

      <script src="{% static 'js/jquery-2.1.3.js' %}"></script>
      <script src="{% static 'js/jspdf.js' %}"></script>
      <script src="{% static 'js/pdfFromHTML.js' %}"></script>

    <header>
        <nav class="navbar navbar-static-top" role="navigation">

            <div class="container-fluid">
              <div class="navbar-header" style="position: absolute; left:5%;">
                <button type="button" name="button" class="navbar-toggle collapsed" data-toggle="collapse data-target=#navegacion">
                  <span class="sr-only">Menú</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <br>

                <a  href="{% url 'indexAdmin' %}" class="navbar-brand itemMenu">Kasandra Carolina de R.L</a>
              </div>

              <!--Inicia el menú-->


              <div class="collapse navbar-collapse " id="navegacion" style="position: absolute; left:25%;">
                <br>

                <ul class="nav navbar-nav">

                    <li class="dropdown">
                    <a  class="dropdown-toggle itemMenu" data-toggle="dropdown" role="button" href="#">Cuentas
                      <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu" role="menu">
                      <li><a href="{% url 'asiento:nueva_cuenta' %}">Nueva cuenta</a></li>
                      <li class="divider"></li>
                      <li><a href="{% url 'asiento:catalogo_activos' %}">Catálogo de cuentas</a></li>

                    </ul>

                  </li>
                  <li class="dropdown">
                    <a  class="dropdown-toggle itemMenu" data-toggle="dropdown" role="button" href="#">Asientos contables
                      <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu" role="menu">
                      <li><a href="{% url 'asiento:nuevo_asientoContable' %}">Registro de asientos contable</a></li>
                      <li class="divider"></li>
                      <li><a href="{% url 'asiento:lista_transacciones' %}">Ver transacciones</a></li>

                    </ul>

                  </li>

                  <li class="dropdown">
                    <a  class="dropdown-toggle itemMenu" data-toggle="dropdown" role="button" href="#">Libros
                      <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu" role="menu">
                      <li><a href="{% url 'asiento:libroDiario' %}">Libro diario</a></li>
                      <li class="divider"></li>
                      <li><a href="{% url 'asiento:listarLibroMayor' %}">Libro mayor</a></li>

                    </ul>

                  </li>

                 
              
                  <li class="dropdown">
                    <a  class="dropdown-toggle itemMenu" data-toggle="dropdown" role="button" href="#">Período contable
                      <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu" role="menu">
                      <li><a href="{% url 'asiento:crear_periodo_contable' %}">Abrir período de contabilidad</a></li>
                      <li class="divider"></li>
                      <li><a href="{% url 'asiento:lista_periodo_contable' %}">Ver períodos</a></li>
                      

                    </ul>

                  </li>

                  <li class="dropdown">
                      <a  class="dropdown-toggle itemMenu" data-toggle="dropdown" role="button" href="#">Salarios
                        <span class="caret"></span>
                      </a>
  
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Registro de compras</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Ver inventarios</a></li>
  
                      </ul>
  
                    </li>

                   

                    <li class="dropdown" style="position: absolute; right:-85%;">
                      <a  class="dropdown-toggle itemMenu" data-toggle="dropdown" role="button" href="#">{{user.username}}
                        <span class="caret"></span>
                      </a>
  
                      <ul class="dropdown-menu" role="menu">
                        <li style="background: white;">
                            <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
                        </li>
                        
                        
  
                      </ul>
  
                    </li>
                  </ul>

                 

              </div>
            </div>
        </nav>

    

    </header>
    <br><br><br>
    <div class="container">
        <div class="row">
        <div class="col-md-12">
    
    <div id="page-wrapper">
      <div class="main-page">
          
        
        <div class="blank-page widget-shadow scroll" id="style-2 div1" >
         
              {% block content%}
              {%endblock%}
          
              
        </div>
      </div>
    </div>
  </div>
</div>

</div>
    
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
   

   
  </body>
</html>