{% extends 'base/base1.html' %}
{% load staticfiles %}

{% block titulo %}
Libro Mayor
{% endblock %}

{% block content %}
<title>{% block Title %}Estado de resultados{% endblock %}</title>
<a style="padding-left:10%;" href="#" onclick="HTMLtoPDF()"><h3 style="padding-left:85%;">Generar reporte</h3></a>
<div class="container">
<div class="form-title">
	<div class="panel panel-default">
			<div class="panel-body" style="text-align: center; background: #fbfbfb;">
			  <h4><strong>Balance de comprobación</strong></h4>
					  
			</div>
	</div>
</div>

<ul class="nav nav-tabs nav-justified">
    <li class="active"><a href="{% url 'asiento:balance_comprobacion' id_periodoContable %}"><h5><strong>Balance de comprobación</strong></h5></a></li>
    <li><a href="{% url 'asiento:estado_Resultados' id_periodoContable %}"><h5><strong>Estado de resultados</strong></h5></a></li>
    <li><a href="{% url 'asiento:estado_flujo_capital' id_periodoContable %}"><h5><strong>Estado de flujo de capital</strong></h5></a></li>
    <li><a href="{% url 'asiento:balance_general' id_periodoContable %}"><h5><strong>Balance General</strong></h5></a></li>
    
        
</ul>

<div id="HTMLtoPDF">
<div class="container" style="position: absolute; left: 14%;">
		<div class="row">
		<div class="col-md-9">
		<br><br><br><br>
		
		<h3><strong>Kasandra Carolina de R.L</strong></h3>
        <h5><strong>BALANCE DE COMPROBACIÓN</strong></h5>
        {% for i in periodo %}
        <h5><strong>Del {{i.fechaInicio}} al {{i.fechaFinal}}</strong></h5>
        {% endfor %}
		<table class="table table-hover"> 
            <thead class="thead-light">
            <tr>		
            <th scope="col"><h4><strong>Cuenta</strong></h4></th>
            <th scope="col"><h4><strong>Debe</strong></h4></th>
            <th scope="col"><h4><strong>Haber</strong></h4></th>
            
            </tr>
                </thead>
                        <tbody>
                        {% if cuentasComprobacion %}
                            {% for i in cuentasComprobacion %}
                            <tr>
                                <td>{{i.mayor}}</td>
                                {% if i.monto >= 0 %}
                                <td>$ {{i.monto|stringformat:".3f"}}</td>
                                <td></td>
                                {% elif i.monto <= 0 %}
                                <td></td>
                                <td>$ {{i.monto|stringformat:".3f"|slice:"1:"}}</td>
                                {% endif %}	
                            </tr>
                            
                            {% endfor %}
                            <td><strong>Total</strong></td>
                            <td><strong>$ {{monto_debe|stringformat:".3f"}}</strong></td>
                            <td><strong>$ {{monto_haber|stringformat:".3f"|slice:"1:"}}</strong></td>
                            {% else %}
                            No hay transacciones efectuadas
                        {% endif %}
        
                        </tbody>	 
                                    
        </table>
		</div>
		</div>
		
		
		<br><br>
		<br><br>
	
	
</div>
</div>
</div>

{% endblock %}
