{% extends 'base/base1.html' %}
{% load staticfiles %}

{% block titulo %}
Listado de movimientos
{% endblock %}

{% block content %}
<title>{% block Title %}Listado de movimientos{% endblock %}</title>
<table class="table table-bo"> 
	<thead class="thead-light">
	<tr>		
	<th scope="col"><h4><strong>Cuenta</strong></h4></th>
	<th scope="col"><h4><strong>Debe</strong></h4></th>
	<th scope="col"><h4><strong>Haber</strong></h4></th>
	</tr>
		</thead>
				<tbody>
				{% if object_list %}
					{% for movimiento in object_list %}
					<tr>
						<td>{{movimiento.concepto }}</td>
						<td>{{movimiento.debe}}</td>
						<td>{{movimiento.haber}}</td>
					</tr>
					<tr>
						<td>{{total_debe}}</td>
					</tr>
					{% endfor %}
				{% endif %}
				</tbody>	 
							
</table>
{% endblock %}

<!--{% if cargos%}
					{% for cargo in cargos %}
					<tr>
						<td>{{cargo.cuenta_haber.nombre }}</td>
						<td>{{cargo.debe }}</td>
						<td></td>
					</tr>
					{% endfor %}
				{% endif %}

				{% if abonos %}
					{% for abono in abonos %}
					<tr>
						<td>{{abono.cuenta_debe.nombre }}</td>
						<td></td>
						<td>{{abono.haber }}</td>
					</tr>
					{% endfor %}
				{% endif %}
				<tr>
					<td><h1>Total</h1></td>
					<td><h1>{{total_debe}}</h1></td>
					<td><h1>{{total_haber}}</h1></td>
				</tr>
				<tr>
				</tr>-->