{% extends 'base/base1.html' %}
{% load staticfiles %}

{% block titulo %}
Libro Mayor
{% endblock %}

{% block content %}
<title>{% block Title %}Balance general{% endblock %}</title>
<a style="padding-left:10%;" href="#" onclick="HTMLtoPDF()"><h3 style="padding-left:85%;">Generar reporte</h3></a>
<div class="container">
<div class="form-title">
	<div class="panel panel-default">
			<div class="panel-body" style="text-align: center; background: #fbfbfb;">
			  <h4><strong>Balance general</strong></h4>
					  
			</div>
	</div>
</div>

<ul class="nav nav-tabs nav-justified">
    <li><a href="{% url 'asiento:balance_comprobacion' id_periodoContable %}"><h5><strong>Balance de comprobación</strong></h5></a></li>
    <li><a href="{% url 'asiento:estado_Resultados' id_periodoContable %}"><h5><strong>Estado de resultados</strong></h5></a></li>
    <li><a href="{% url 'asiento:estado_flujo_capital' id_periodoContable %}"><h5><strong>Estado de flujo de capital</strong></h5></a></li>
    <li  class="active"><a href="{% url 'asiento:balance_general' id_periodoContable %}"><h5><strong>Balance General</strong></h5></a></li>
    
        
</ul>

<div id="HTMLtoPDF">
<div class="container" style="position: absolute; left: 7%;">
	<div class="col-md-11">
				<br><br><br><br>
				<h3><strong>Kasandra Carolina de R.L</strong></h3>
        		<h5><strong>BALANCE GENERAL</strong></h5>
        		{% for i in periodo %}
        		<h5><strong>Del {{i.fechaInicio}} al {{i.fechaFinal}}</strong></h5>
        		{% endfor %}
				
				<br>
<div class="col-md-6">
<table class="table table-hover"> 
	<thead class="thead-light">
	
		</thead>
				<tbody>
               
                
                <td><h4><strong>ACTIVOS</strong></h4></td>	
				{% if listaActivos %}
					{% for i in listaActivos %}
					<tr>
						<td>{{i.mayor.nombre_cuenta}}</td>
						<td>$ {{i.saldo}}</td>
					</tr>
					{% endfor %}
						
				{% else %}
				No hay cuentas registradas
                {% endif %}

                <tr>

					<td><strong>TOTAL ACTIVOS</strong></td>
					<td><strong>$ {{montoActivos}}</strong></td>
                </tr>
            </tbody>	 			
</table>
</div>

<div class="col-md-6">
    <table class="table table-hover"> 
        <thead class="thead-light">
        
            </thead>
                    <tbody>
                      
                    
                <td><h4><strong>PASIVOS</strong></h4></td>
                {% if listaPasivos %}
					{% for i in listaPasivos %}
					<tr>
						<td>{{i.mayor.nombre_cuenta}}</td>
						<td>$ {{i.saldo}}</td>
					</tr>
					{% endfor %}
						
				{% else %}
				No hay cuentas registradas
                {% endif %}
                
                <tr>

					<td><strong>TOTAL PASIVOS</strong></td>
					<td><strong>$ {{montoPasivos}}</strong></td>
                </tr>

            </tbody>	 			
</table>
</div>


<div class="col-md-6">
    <table class="table table-hover"> 
        <thead class="thead-light">
        
            </thead>
                    <tbody>
                      
                   

                <td><h4><strong>PATRIMONIO</strong></h4></td>
                {% if listaPatrimonio %}
					{% for i in listaPatrimonio %}
					<tr>
						<td>{{i.mayor.nombre_cuenta}}</td>
						<td>$ {{i.saldo}}</td>
					</tr>
					{% endfor %}
						
				{% else %}
				No hay cuentas registradas
				{% endif %}



                <tr>

					<td><strong>TOTAL PATRIMONIO</strong></td>
                    <td><strong>$ {{montoPatrimonio}}</strong></td>
                    
                </tr>
                <tr>

					<td><strong>UTILIDAD</strong></td>
                    <td><strong>$ {{montoUtilidad}}</strong></td>
                    
                </tr>
				
                </tbody>	

                
                 							
</table>
</div>

<div class="col-md-6">
<h4>Total activos : <strong>$ {{montoActivos}}</strong></h4>
<h4>Total pasivos + patrimonio : <strong>$ {{montoPasivosPatrimonioUtilidad}}</strong></h4>

<br><br><br><br>

</div>
</div>
</div>
</div>
</div>


{% endblock %}