{% extends 'base/base1.html' %}
{% load staticfiles %}

{% block titulo %}
Nueva cuenta
{% endblock %}

{% block content %}
<title>{% block Title %}Nueva cuenta{% endblock %}</title>

<div class=" form-grids row form-grids-right">
		
			<div class="form-title">
					<div class="panel panel-default">
							<div class="panel-body" style="text-align: center; background: #ebecf0; font-family:Arial, Helvetica, sans-serif;">
							  <h4><strong>Agregar nueva cuenta</strong></h4>
									  
							</div>
					</div>
			</div>

			<div class="container-fluid">
				<div class="col-md-7">
			<div class="form-body">
				<br><br>
			<form class="form-vertical" method="POST" action="{% url 'asiento:nueva_cuenta' %}"> 
					<div class="form-group">
					{%csrf_token %}
					{{form2.as_p}}
					 {{form.as_p}}
					 <br><br> 
					 <button type="submit" class="btn btn-primary" style="font-weight: bold;">Guardar</button>
					</div>
			</form> 
			
			</div>
			</div>
			
			<img  style='position: absolute; right: 17.5%; top: 40%;' src="{% static 'images/agregar.png' %}" width="100px" height="100px">
		
			</div>
			
		
</div>
{% endblock %}

