{% extends 'base/base1.html' %}
{% load staticfiles %}

{% block titulo %}
Libro Diario
{% endblock %}

{% block content %}
<title>{% block Title %}Libro Diario{% endblock %}</title>


		
		
		<div class="form-title">
			<div class="panel panel-default">
					<div class="panel-body" style="text-align: center; background:#fbfbfb">
					  <h4><strong>Libro diario del período en curso</strong></h4>
							  
					</div>
			</div>
		</div>

		<a href="{% url 'asiento:nuevo_asientoContable' %}" type="submit" style="position: absolute; right: 3%"> <button type="submit" class="btn btn-default" style="font-weight: bold; border-radius: 0%; background: #f0ecec;"
			onmouseover='this.style.background="#e7e6e6";' onmouseout='this.style.background="#f0ecec";'>Agregar nuevo asiento contable</button></a>
				
		<a href="{% url 'asiento:confirmacion_cerrar_periodo' %}" type="submit" style="position: absolute; right: 25%;"> <button type="submit" class="btn btn-primary" style="font-weight: bold; border-radius: 0%; background: #184365;"
				onmouseover='this.style.background="#5d829e";' onmouseout='this.style.background="#184365";'>Cerrar período contable</button></a>

<br><br>

<br><br>

<table class="table table-hover"> 
	<thead class="thead-light">
	<tr>
	<th scope="col"><h4><strong>N° asiento</strong></h4></th>		
	<th scope="col"><h4><strong>Fecha</strong></h4></th>
	<th scope="col"><h4><strong>Concepto</strong></h4></th>
	<th scope="col"><h4><strong>Cuenta debe</strong></h4></th>
	<th scope="col"><h4><strong>Monto</strong></h4></th>
	<th scope="col"><h4><strong>Cuenta haber</strong></h4></th>
	<th scope="col"><h4><strong>Monto</strong></h4></th>
	
	</tr>
		</thead>
				<tbody>
				{% if libroDiario %}
					{% for asiento in libroDiario %}
					<tr>
						<td>{{asiento.numero_asiento}}</td>
						<td>{{asiento.libroD.fecha}}</td>
						<td>{{asiento.libroD.concepto}}</td>
						<td>{{asiento.cuenta_debe}}</td>
						<td>$ {{asiento.importeDebe}}</td>
						<td>{{asiento.cuenta_haber}}</td>
						<td>$ {{asiento.importeHaber}}</td>
						<td>
						</td>
					</tr>
					{% endfor %}

			
			<div class="container-fluid">
				{% else %}
				No hay asientos registrados
				
				{% endif %}
				</tbody>	 
							
</table>
</div>
{% endblock %}


