{% extends 'base/base1.html' %}
{% load staticfiles %}

{% block titulo %}
Libro Mayor
{% endblock %}

{% block content %}
<title>{% block Title %}Libro Mayor{% endblock %}</title>

<table class="table table-bo"> 
	<thead class="thead-light">
	<tr>		
	<th scope="col"><h4><strong>Cuenta</strong></h4></th>
	<th scope="col"><h4><strong>Debe</strong></h4></th>
	<th scope="col"><h4><strong>Haber</strong></h4></th>
	<th scope="col"><h4><strong>Saldo</strong></h4></th>
	
	</tr>
		</thead>
				<tbody>
				{% if object_list %}
					{% for elemento in object_list %}
					<tr>
						<td>{{elemento.mayor.nombre_cuenta}}</td>
						<td>{{elemento.debe}}</td>
						<td>{{elemento.haber}}</td>
						<td>{{elemento.saldo}}</td>
					</tr>
					{% endfor %}
	
				{% else %}
				No hay cuentas registradas
				{% endif %}
				</tbody>	 
							
</table>
{% endblock %}
