{% extends 'base/base1.html' %}
{% load staticfiles %}

{% block titulo %}
Libro Diario
{% endblock %}

{% block content %}
<title>{% block Title %}Libro Diario{% endblock %}</title>

<div class="container">
		<div class="form-title">
			<div class="panel panel-default">
					<div class="panel-body" style="text-align: center; background: #ebecf0;">
					  <h4><strong>Asientos contables registrados</strong></h4>
							  
					</div>
			</div>
		</div>

<br><br>

<a href="{% url 'asiento:nuevo_asientoContable' %}" type="submit" class="btn btn-primary" style="position: absolute; right: 5%; top: 35%;">Nuevo asiento contable</a>
<br><br>

<table class="table table-bo"> 
	<thead class="thead-light">
	<tr>
	<th scope="col"><h4><strong>N° asiento</strong></h4></th>		
	<th scope="col"><h4><strong>Fecha</strong></h4></th>
	<th scope="col"><h4><strong>Concepto</strong></h4></th>
	<th scope="col"><h4><strong>Cuenta debe</strong></h4></th>
	<th scope="col"><h4><strong>Monto</strong></h4></th>
	<th scope="col"><h4><strong>Cuenta haber</strong></h4></th>
	<th scope="col"><h4><strong>Monto</strong></h4></th>
	
	</tr>
		</thead>
				<tbody>
				{% if object_list %}
					{% for asiento in object_list %}
					<tr>
						<td>{{asiento.numero_asiento}}</td>
						<td>{{asiento.libroD.fecha}}</td>
						<td>{{asiento.libroD.concepto}}</td>
						<td>{{asiento.cuenta_debe}}</td>
						<td>{{asiento.importeDebe}}</td>
						<td>{{asiento.cuenta_haber}}</td>
						<td>{{asiento.importeHaber}}</td>
						<td>
						</td>
					</tr>
					{% endfor %}
				{% else %}
				No hay asientos registrados
				{% endif %}
				</tbody>	 
							
</table>
</div>
{% endblock %}
