{% extends 'base/base1.html' %}
{% load staticfiles %}

{% block titulo %}
Libro Diario
{% endblock %}

{% block content %}
<title>{% block Title %}Asientos contables realizados{% endblock %}</title>

<a href="{% url 'asiento:nuevo_asientoContable' %}" type="submit" style="position: absolute; right: 3%; top: 17%;"> <button type="submit" class="btn btn-primary" style="font-weight: bold; border-radius: 0%; background: #184365;"
	onmouseover='this.style.background="#5d829e";' onmouseout='this.style.background="#184365";'>Agregar nuevo asiento contable</button></a>

<div class="container-fluid">
		<div class="form-title">
			<div class="panel panel-default">
					<div class="panel-body" style="text-align: center; background: #fbfbfb;">
					  <h4><strong>Asientos contables registrados</strong></h4>
							  
					</div>
			</div>
		</div>

<br><br>

<br><br>

<table class="table table-hover"> 
	<thead class="thead-light">
	<tr>
	<th scope="col"><h4><strong>N° asiento</strong></h4></th>		
	<th scope="col"><h4><strong>Fecha</strong></h4></th>
	<th scope="col"><h4><strong>Concepto</strong></h4></th>
	<th scope="col"><h4><strong>Cuenta debe</strong></h4></th>
	<th scope="col"><h4><strong>Monto</strong></h4></th>
	<th scope="col"><h4><strong>Cuenta haber</strong></h4></th>
	<th scope="col"><h4><strong>Monto</strong></h4></th>
	
	</tr>
		</thead>
				<tbody>
				{% if lista %}
					{% for asiento in lista %}
					<tr>
						<td>{{asiento.id}}</td>
						<td>{{asiento.libroD.fecha}}</td>
						<td>{{asiento.libroD.concepto}}</td>
						<td>{{asiento.cuenta_debe}}</td>
						<td>$ {{asiento.importeDebe}}</td>
						<td>{{asiento.cuenta_haber}}</td>
						<td>$ {{asiento.importeHaber}}</td>
						<td>
						</td>
					</tr>
					{% endfor %}
				{% else %}
				No hay asientos registrados
				{% endif %}
				</tbody>	 
							
</table>
</div>
{% endblock %}

