{% extends 'base/base1.html' %}
{% load staticfiles %}

{% block titulo %}
Libro Diario
{% endblock %}

{% block content %}
<title>{% block Title %}Libro Diario{% endblock %}</title>


<div class="container-fluid">
		<a href="{% url 'asiento:nuevo_asientoContable' %}" type="submit" style="position: absolute; right: 3%; top: 30%;"> <button type="submit" class="btn btn-default" style="font-weight: bold; border-radius: 0%; background: #f0ecec;"
			onmouseover='this.style.background="#e7e6e6";' onmouseout='this.style.background="#f0ecec";'>Agregar nuevo período contable</button></a>
		
		
		
		<div class="form-title">
			<div class="panel panel-default">
					<div class="panel-body" style="text-align: center; background:#fbfbfb">
					  <h4><strong>Períodos contables</strong></h4>
							  
					</div>
			</div>
		</div>

<br><br>

<br><br>

<table class="table table-hover"> 
	<thead class="thead-light">
	<tr>
	<th scope="col"><h4><strong>N° período</strong></h4></th>		
	<th scope="col"><h4><strong>Fecha de Inicio</strong></h4></th>
	<th scope="col"><h4><strong>Fecha de Cierre</strong></h4></th>
	<th scope="col"><h4><strong>Estado</strong></h4></th>

	</tr>
		</thead>
				<tbody>
				{% if object_list %}
					{% for l in object_list %}
					<tr>
						<td>{{l.id}}</td>
						<td>{{l.fechaInicio}}</td>
						<td>{{l.fechaFinal}}</td>
						<td>{{l.estado}}</td>
						<td>
							<a class="btn btn-outline-success" href="{% url 'asiento:transacciones_periodo' l.id %} ">
								<button type = "button" class = "btn btn-default" 
								style="font-weight: bold; border-radius: 0%; background: #3b6e96; color:white;"
								onmouseover='this.style.background="#5d829e";' onmouseout='this.style.background="#184365";'>
								Transacciones</button>
							</a>
							<a class="btn btn-outline-success" href="{% url 'asiento:libro_mayor_periodo' l.id %} ">
									<button type = "button" class = "btn btn-default" 
									style="font-weight: bold; border-radius: 0%; background: #3b6e96; color:white;"
									onmouseover='this.style.background="#5d829e";' onmouseout='this.style.background="#184365";'>
									Libro mayor</button>
								</a>
								<a class="btn btn-outline-success" href="{% url 'asiento:balance_comprobacion' l.id %} ">
										<button type = "button" class = "btn btn-default" 
										style="font-weight: bold; border-radius: 0%; background: #3b6e96; color:white;"
										onmouseover='this.style.background="#5d829e";' onmouseout='this.style.background="#184365";'>
										Estados financieros</button>
								</a>
					
						</td>
					
					</tr>
					{% endfor %}
				{% else %}
				No hay períodos registrados
				{% endif %}
				</tbody>	 
							
</table>
</div>
{% endblock %}


