{% extends 'base/base1.html' %}
{% load staticfiles %}

{% block titulo %}
Nuevo período
{% endblock %}

{% block content %}
<title>{% block Title %}Asiento registrado{% endblock %}</title>

<div class=" form-grids row form-grids-right">
		
			<div class="form-title">
					<div class="panel panel-default">
							<div class="panel-body" style="text-align: center; background: #fbfbfb; font-family:Arial, Helvetica, sans-serif;">
							  <h4><strong>Asiento registrado</strong></h4>
									  
							</div>
					</div>
			</div>

			<div class="container" style="text-align: center;">
				<div class="col-md-12">
                    <h2 style="background: #a6e2a6; padding: 10px; border-radius:2%;">Asiento registrado con éxito !</h2>
                    <br><br>
                    <h4>Que acción desea realizar ?</h4> <br><br>
                    <a href="{% url 'asiento:nuevo_asientoContable' %}" type="submit"> <button type="submit" class="btn btn-primary" style="font-weight: bold; border-radius: 0%; background: #184365;"
                        onmouseover='this.style.background="#5d829e";' onmouseout='this.style.background="#184365";'>Agregar asiento</button></a>
                        <a href="{% url 'asiento:lista_transacciones' %}" type="submit"> <button type="submit" class="btn btn-default" style="font-weight: bold; border-radius: 0%; background: #f0ecec;"
                            onmouseover='this.style.background="#e7e6e6";' onmouseout='this.style.background="#f0ecec";'>Asientos realizados</button></a>
			</div>
			
			
		
			</div>
			
		
</div>
{% endblock %}