{% extends 'base/base1.html' %}
{% load staticfiles %}

{% block titulo %}
Movimiento
{% endblock %}

{% block content %}
<title>{% block Title %}Movimiento{% endblock %}</title>

<div class=" form-grids row form-grids-right">
		
			<div class="form-title">
				<h4>Movimiento</h4>
			</div>
			<div class="form-body">
			<form class="form-horizontal" method="POST"> 
					<div class="form-group">
					{%csrf_token %}
					 {{form.as_p}}
					 <br><br>
					 <button type="submit" class="btn btn-primary">Guardar</button>
				 	</div>
				 </form> 
			</div>
		
</div>
{% endblock %}
