{% extends "base/base1.html" %}

{% block content %}
<div class="row">
    <div class="col-xs-3">
        
    </div>
    <div class="col-xs-6">
            <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="mes">Planilla</label>
                      <input type="month" name="mes" id="mes" class="form-control"  required>
                      <button type="submit" class="btn btn-primary">Buscar</button>
                    </div>                    
            </form>
    </div>
    <div class="col-xs-3">
        
    </div>
</div>

<a name="registro" id="registro" class="btn btn-primary" href="{% url 'registro' %}" role="button">Ingresar nuevo Empleado</a>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Aellidos</th>
                <th>Nombres</th>
                <th>NUP</th>
                <th>ISSS</th>
                <th>Fecha Contratacion</th>
                <th>Nombre de Cargo</th>
                <th>Sueldo Bruto</th>
                <th>Retencion de Renta</th>
                <th>Retencion de ISSS</th>
                <th>Retencion de AFP</th>
                <th>Otras Retenciones/Descuentos</th>
                <th>Sueldo Neto</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                        <td><b>Totales</b></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><b>{{salario__renta__sum}}</b></td>
                        <td><b>{{salario__porcISSS__sum}}</b></td>
                        <td><b>{{salario__porcAFP__sum}}</b></td>
                        <td></td>
                        <td><b>{{salario__sueldoNeto__sum}}</b></td>
                    </tr>
            {% for elemento in lista %}
                <tr>
                    <td>{{elemento.empleado.pk}}</td>
                    <td>{{elemento.empleado.apellidos}}</td>
                    <td>{{elemento.empleado.nombres}}</td>
                    <td>{{elemento.empleado.nup}}</td>
                    <td>{{elemento.empleado.isss}}</td>
                    <td>{{elemento.fechaContratacion}}</td>
                    <td>{{elemento.cargo.nombreCargo}}</td>
                    <td>{{elemento.salario.haberBase}}</td>
                    <td>{{elemento.salario.renta}}</td>
                    <td>{{elemento.salario.porcISSS}}</td>
                    <td>{{elemento.salario.porcAFP}}</td>
                    <td>{{elemento.salario.otrosDescuentos}}</td>
                    <td>{{elemento.salario.sueldoNeto}}</td>
                </tr>
            {% endfor %}
                <tr>
                    <td><b>Totales</b></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><b>{{salario__renta__sum}}</b></td>
                    <td><b>{{salario__porcISSS__sum}}</b></td>
                    <td><b>{{salario__porcAFP__sum}}</b></td>
                    <td></td>
                    <td><b>{{salario__sueldoNeto__sum}}</b></td>
                </tr>
            
           
        </tbody>
    </table>
{% endblock content %}